*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 210px;
  /* height: 330px; */
  border: 1px solid red;
}

#display{
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 80px;
  border: 1px solid red;
  margin: 4%;
  padding: 5px;
  text-align: right;
}

#memoria{
  /* width: 90%; */
  height: 40px;
  border: 1px solid red;
  /* margin: 4%;
  padding: 5px; */
  text-align: right;
}

#entrada-saida{
  /* width: 90%; */
  font-size: 25px;
  height: 40px;
  border: 1px solid red;
  /* margin: 4%;
  padding: 5px; */
  text-align: right;
}

#displayNumBt{
  display: flex;
  flex-wrap: wrap;
  float: left;
  width: 130.3px;
  height: 170px;
  border: 1px solid red;
  margin: 0 0 80px 4%;
  align-items: center;
  justify-content: center;
}

.numBt{
  float: left;
  width: 42px;
  height: 40px;
  border: 1px solid red;
  text-align: center;
  /* padding: 10px; */
  cursor: pointer;
}

#b0{
  width: 84px;
  height: 40px;
  border: 1px solid red;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

#cientifica{
  display: none;
  flex-wrap: wrap;
  float: left;
  width: 179.3px;
  height: 45px;
  border: 1px solid red;
  margin: 0 0 0 4%;
  align-items: center;
  justify-content: center;
}

#displayOpBt{
  display: flex;
  flex-wrap: wrap;
  float: left;
  width: 130.3px;
  height: 45px;
  border: 1px solid red;
  margin: 0 0 0 4%;
  align-items: center;
  justify-content: center;
}

#displayOpBt2{
  display: flex;
  flex-wrap: wrap;
  width: 49px;
  height: 215.3px;
  border: 1px solid red;
  margin: 0 0 0 0;
  align-items: center;
  justify-content: center;
}

#big{
  width: 42px;
  height: 83px;
  border: 1px solid red;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}